*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
  font-size: 16px;
  line-height: 1.5;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  width: 100%;
  text-decoration: none;
  color: inherit;
}

button {
  user-select: none;
  font-family: inherit;
}
