.nav-panel {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--height-nav-panel);
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--dark-gray);

  .active {
    color: #b9b9b9;
  }

  & > a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--dark-gray);

    .marker {
      position: absolute;
      top: 3px;
      left: 52%;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--warning-color);
    }
  }
}
